/*************************/
/* BELOW 431PX */
/*************************/
/* 431px / 16px = 26.875em */
@media (max-width: 26.875em) {
  html {
    font-size: 50%;
  }
}
/*************************/
/* BELOW 320PX */
/*************************/
/* 320px / 16px = 20em */
@media (max-width: 20em) {
  html {
    font-size: 40%;
  }
}
/*************************/
/* BELOW 240PX */
/*************************/
/* 240px / 16px = 15em */
@media (max-width: 15em) {
  html {
    font-size: 30%;
  }
}
